body {
    background-color: #28293E;
}

* {

    font-family: "Titillium Web", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.main-flex {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    justify-content: space-evenly;
    align-content: center;
}

.intro-main {
    border-radius: 1rem;
    padding: 2rem;
    flex: 1;


}

.profile-pic-mobile {
    visibility: hidden;
}

.profile-pic {
    position: relative;
    flex: 1;
}

.behind-profile-pic {
    position: absolute;

}

.profile-avatar {
    position: absolute;

    margin: 0px;
    bottom: 30px;


}

.profile-avatar>img {
    height: 30rem;
    width: 30rem;
    margin: 0px;
    padding: 0px;

}


.intro-main span {
    font-weight: 700;
}

.name-main {
    font-size: medium;
    font-weight: 200;
}

.tag-line {
    font-size: 3rem;
    font-weight: 900;
    color: #078D84;
    padding: 0%;
    margin: 0%;
}

.sub-tag-line {
    font-weight: 400;
    font-size: large;
}

.hire-me-button {
    background-color: #078D84;
    border: none;
    width: 6rem;
    height: 3rem;
    border-radius: 6%;
}
.buttons-row{margin-top: 10px;}
.hire-me-button:hover{
    background-color: black;
    border: white solid 1px;
}
.portfolio-button:hover{
    background-color: #078D84;
    border: none;
}
.portfolio-button {
    background-color: #28293E;
    border: white solid 1px;
    width: 6rem;
    height: 3rem;
    border-radius: 6%;
    margin-left: 2%;
}
.project-banner{
    background-color: #078D84;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;

    text-align: center;
}
.project_section{
    display: flex;
    height: 100vh;
    width: 100%;
}
.projectcard{
    width: 40%;
    background-color: cornflowerblue;
    border-radius: 12px;
    height: 100px;
    padding: 10%;
}

@media screen and (max-width:1050px) {
    .main-flex {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 0px;
        align-content: center;
        align-items: center;

    }

    .intro-main {
        position: static;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        /* Remove any padding to the right */
        padding-left: 0;
        /* Optionally remove padding to the left */
        margin-right: 0;
        /* Remove any margin to the right */
        margin-left: 0;
        justify-content: center;
        text-align: center;

    }

    .name-main {
        text-align: center;
    }

    .tag-line {
        text-align: center;
    }

    .sub-tag-line {
        text-align: center;
    }

    .buttons-row {
        margin: auto;
        margin-top: 10px;
    }

    .behind-profile-pic {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        top: 40px;
    }

    .profile-avatar {
        position: relative;
    }

    .profile-pic {
        position: static;
        display: block;


        margin: 0px;
        padding: 0px;
    }

    .behind-profile-pic>img {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: auto;
    }

    .profile-avatar>img {
        width: 100%;
        height: 100%;
    }

    .profile-pic-mobile {
        position: absolute;
        display: none;
        visibility: visible;
        width: 100%;
        margin: 1rem 0;

    }

}